@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>admin</title>

    <style>
        body {
            font-family: roboto, Helvetica, Arial, sans-serif;
        }
    </style>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

    <link rel="import" href="Imports.html" />
</head>
<body class="fullbleed layout vertical">
    <el-admin></el-admin>
</body>
</html>
