@{
    ViewBag.Title = "Index";
}

<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html" />

<script src="/Scripts/ajax.js"></script>
<script src="~/Views/Home/frontend.js"></script>

<section id="content"></section>