@{
    ViewBag.Title = "Index";
}

<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html" />

<section id="content"></section>

<script src="/Scripts/ajax.js"></script>
<script src="~/Scripts/frontend.js"></script>